header {
	background: url('../../../../assets/image/header/header.jpg');
	width: 100%;
	height: 50rem;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
    @media screen and (max-width: 768px) {
		background-size: contain;
        background-repeat: no-repeat;
	}
}
.menu{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    // @media (max-width: 700px){
    //     background-color: #333;
    // }
}

.nav{
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-bottom: solid 1px grey;
    cursor: pointer;
}

.nav__link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #FFFF;
    @media (max-width: 700px){
        font-size: 10px;
    }
 
}
.nav__link:hover{
    color: #333;
}
.menu__text{
    display: flex;
    justify-content: left;
    margin-top: 200px;
}

.menu__text--p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
}
