<header>
    <div class="menu">
        <div class="nav">
            <a *ngFor="let element of header" [routerLink]="[element.navigate]" class="nav__link">{{element.name}}</a>
        </div>
        <div class="menu__text">
            <p class="menu__text--p">¿Te gusta conducir?</p>
        </div>
    </div>


</header>