<p>todo-camino-mid works! tu puta madre hijo de puta</p>



<!-- 
<div>
    <div *ngFor="let person of otherUniversesEnd.character">
        <h1 class="nameCharacter">{{person.name}}</h1>
        <div class="headerCharacter">
            <img class="headerCharacter__img" src="{{person.coverpage.src}}" alt="{{person.coverpage.alt}}">
            <div class="headerCharacter__textContainer">
                <div *ngFor="let text of person.information">
                    <h3 class="headerCharacter__text">{{text.description}}</h3>
                </div>
            </div>
        </div>
        <div class="otherUniversesGallery">
            <div class="otherUniversesGallery__container" *ngFor="let image of person.gallery">
                <img class="otherUniversesGallery__img" src="{{image.src}}" alt="{{image.alt}}">
            </div>
        </div>
    </div>
</div>



 -->
