<div class="container">
    <div class="container__text">
        <h2 class="container__text--tittle montserrat">El mundo a toda velocidad con BMW</h2>
        <p class="container__text--paragraph">Haz tuyo el mundo.
        </p>
    </div>
    <video class="video" onloadedmetadata="this.muted=true" autoplay loop>
        <source src="../../../../../assets/image/deportivos/depor.mp4">
    </video>
</div>

<h3 class="galleryTittle">MODELS</h3>


<div class="containerGallery">
    <div id="captioned-gallery">
        <figure class="slider">
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-1.jpg" alt>
                <figcaption>BMW Z4 M40i</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-2.jpg" alt>
                <figcaption>Nuevo BMW X3</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-3.jpg" alt>
                <figcaption>Nuevo BMW 8 Series Gran Coupé</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-4.jpg" alt>
                <figcaption>Nuevo BMW M4 Coupé</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-5.jpg" alt>
                <figcaption>Nuevo BMW M8 Coupé Competition</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-6.jpg" alt>
                <figcaption>Nuevo BMW M8 Gran Coupé</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-7.jpg" alt>
                <figcaption>Nuevo BMW Serie 8 Coupé</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-8.jpg" alt>
                <figcaption>BMW Serie 2 Coupé</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-9.jpg" alt>
                <figcaption>BMW M240i xDrive Coupé</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/deportivos/dc-10.jpg" alt>
                <figcaption>THE M8</figcaption>
            </figure>
        </figure>
    </div>
</div>