// @import url(https://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

* {
    box-sizing: border-box;
}

body,
figure {
    margin: 0;
    background: #101010;
    // font-family: Istok Web, sans-serif;
    font-weight: 100;
}

div#captioned-gallery {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 100px;
    margin-left: 25%;
    width: 50%;
    overflow: hidden;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 30s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100%;
    height: auto;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}

.containerGallery {
    width: 100%;
    background-color: #dedcdc;
}


.container {
    margin-top: 200px;
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.container__text {
    width: 100%;
    top: 0%;
    right: 0;
    position: absolute;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(21, 19, 19);
}

.container__text--tittle {
    font-size: 45px;
    font-family: Istok Web, sans-serif;
}

.container__text--paragraph {
    font-size: 30px;
    font-family: Istok Web, sans-serif;
}

.galleryTittle {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Istok Web, sans-serif;
}