
<div>
    <div>
        <div class="container">
            <div *ngFor="let card of homeEnd.boxEnd">
                <div class="cardContainer">
                    <div >
                        <img class="card__img" src="{{card.img.src}}" alt="{{card.img.src}}">
                    </div>
                    <div class="card__textContainer" >
                        <h3>{{card.tittleEnd}}</h3>
                        <p class="card__text">{{card.textEnd}}</p>
                    </div>
                </div>
            
            </div>
            
        </div>
    </div>
    
</div>




