
.container{
    margin-top: 5rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardContainer{
    height: 750px;
    width: 790px;
    border: 1px solid rgb(161, 158, 158); 
}

.card__textContainer{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card__container{
    display: flex;
    justify-content: center;
    background-color: sienna;
}

.card__img{
    // margin-top: 15px;
    width: 100%;
}
.card__img:hover{
   background-color: grey;
    opacity: 1;
}

.card__text{
    display: flex;
    margin-top: 100px;
    font-weight: bold;
}