<div class="container">
    <div class="container__text">
        <h2 class="container__text--tittle montserrat">La ciudad ya no tiene secretos</h2>
        <p class="container__text--paragraph">Recorre la ciudad con comodidad y elegancia
        </p>
        
    </div>
    <video class="video" onloadedmetadata="this.muted=true" autoplay loop>
        <source src="../../../../../assets/image/berlina/video (3).mp4">
    </video>
</div>

<h3 class="galleryTittle">MODELS</h3>


<div class="containerGallery">
    <div id="captioned-gallery">
        <figure class="slider">
            <figure>
                <img class="image" src="../../../../../assets/image/berlina/bc-1.jpg" alt>
                <figcaption>BMW Serie 3 Berlina</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-2.jpg" alt>
                <figcaption>BMW Serie 5 Berlina</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-3.jpg" alt>
                <figcaption>Nuevo BMW M5 Competition</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-4.jpg" alt>
                <figcaption>THE 7</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-5.jpg" alt>
                <figcaption>Nuevo BMW M8 Coupé Competition</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-6.jpg" alt>
                <figcaption>BMW Serie 7</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-7.png" alt>
                <figcaption>THE IX</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-8.jpg" alt>
                <figcaption>Nuevo BMW iX M60</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-9.jpg" alt>
                <figcaption>Nuevo BMW M760e xDrive</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/berlina//bc-10.jpg" alt>
                <figcaption>Nuevo BMW Serie 2 Active Tourer</figcaption>
            </figure>
        </figure>
    </div>
</div> 

