.container{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.container__box{
    background-image: url(../../../../../assets/image/imghome/home-Init/8720-bmw.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 900px;
    height: 500px;
}

.container__text{
    display: flex;
    justify-content: initial;
    color: #ffff;
    padding-top: 50px;
    padding-left: 85px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.container_botton{
    display: flex;
    justify-content: initial;
    color: #ffff;
    padding-top: 15px;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    background: none;
    width: 60%;
    border-style: inset white;
    :hover{
        font-size: 50px;
        color: rgb(166, 166, 166);
    }
}