<div class="container">
    <div *ngFor="let box of homeInit.boxInit" >
        <div class="container__box">
            <div>
            <p class="container__text">{{box.text}}</p>
            <button class="container_botton">{{box.botton}}</button>
            <!-- <p class="container_botton">{{box.botton}}</p> -->
            </div>
        </div>
    </div>
</div>








<!-- <div>
    <div *ngFor="let person of saiyanEnd.character">
        <h1 class="nameCharacter">{{person.name}}</h1>
        <div class="headerCharacter">
            <img class="headerCharacter__img" src="{{person.coverpage.src}}" alt="{{person.coverpage.alt}}">
            <div class="headerCharacter__textContainer" >
                <div *ngFor="let text of person.information">
                    <h3 class="headerCharacter__text">{{text.description}}</h3>
                </div>
               </div>
        </div>
        <div class="saiyanGallery"> 
            <div class="saiyanGallery__container" *ngFor="let image of person.gallery">
                <img class="saiyanGallery__img" src="{{image.src}}" alt="{{image.alt}}">
            </div>
        </div>
    </div>
    </div>
     -->