<div class="container">
    <div class="container__text">
        <h2 class="container__text--tittle montserrat">Pon a prueba los modelos todoterreno de BMW</h2>
        <p class="container__text--paragraph">Explora todo el mundo.
        </p>
        <p class="container__text--paragraph">No hay límites, atrévete a ver la vida
            desde lo más alto.
        </p>
    </div>
    <video class="video" onloadedmetadata="this.muted=true" autoplay loop>
        <source src="../../../../../assets/image/todocaminos/mountain.mp4">
    </video>
</div>

<h3 class="galleryTittle">MODELS</h3>


<div class="containerGallery">
    <div id="captioned-gallery">
        <figure class="slider">
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-1.jpg" alt>
                <figcaption>BMW X1</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-2.jpg" alt>
                <figcaption>Nuevo BMW X3</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-3.jpg" alt>
                <figcaption>Nuevo BMW X4</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-4.jpg" alt>
                <figcaption>BMW X5</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-5.jpg" alt>
                <figcaption>BMW X6</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-6.jpg" alt>
                <figcaption>Nuevo BMW X7</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-7.jpg" alt>
                <figcaption>Nuevo BMW X3 M</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-8.jpg" alt>
                <figcaption>Nuevo BMW X4 M</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-9.jpg" alt>
                <figcaption>BMW X6 M</figcaption>
            </figure>
            <figure>
                <img class="image" src="../../../../../assets/image/todocaminos/tcc-10.jpg" alt>
                <figcaption>BMW X5 M</figcaption>
            </figure>
        </figure>
    </div>
</div>