
.container{
    margin-top: 5rem;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardContainer{
    height: 550px;
    width: 300px;
    border: 1px solid rgb(161, 158, 158); 
    border-collapse: separate;
    border-spacing:  3px;   
}

.card__textContainer{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card__container{
    display: flex;
    justify-content: center;
    
}

.card__img{
    max-width: 290px;
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.card__text--text2{
    display: flex;
    margin-top: 150px;
    font-weight: bold;
}



