<div>
    <div>
        <div class="container">
            <div *ngFor="let card of homeMid.boxMid">
                <div class="cardContainer">
                    <div>
                        <img class="card__img" src="{{card.img.src}}" alt="{{card.img.src}}">
                    </div>
                    <div class="card__textContainer" >
                        <h3>{{card.tittleMid}}</h3>
                        <p>{{card.textMid1}}</p>
                        <p class="card__text--text2">{{card.textMid2}}</p>
                    </div>
                </div>
            
            </div>
            
        </div>
    </div>
    
</div>




