/* You can add global styles to this file, and also import other style files */

.montserrat {
    font-family: 'Cabin', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'PT Sans', sans-serif;
}